@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

html {
  background: #2b5876;
  background: -webkit-linear-gradient(to left, #4e4376, #2b5876);
  background: linear-gradient(to left, #4e4376, #2b5876);

  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
